@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mountains of Christmas", serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#a2000a, #cf0000);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
}

.container .circle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 350px;
  background: linear-gradient(to bottom, #ffffcc, #dcdcdc);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  border-radius: 50%;
}

.container .circle::before {
  content: "";
  position: absolute;
  inset: -200px -300px;
  background: url(santa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
  animation: animate 5s ease-in-out infinite;
  transform: rotate(-10deg);
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-25px) rotate(-10deg);
  }
  50% {
    transform: translateY(25px) rotate(-10deg);
  }
}

.countdown {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 2em;
}

.container .snow {
  position: relative;
  display: flex;
}

.container .snow span {
  position: relative;
  min-width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 1vw;
  box-shadow: -100px 20px 5px #fff, 100px 20px 10px #fff;
  animation: animateSnow 15s linear infinite;
  animation-duration: calc(75s / var(--i));
}

.container .snow span:nth-child(even) {
  min-width: 10px;
  height: 10px;
}

@keyframes animateSnow {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
